html, body{
    margin:0;
    padding:0;
}

header {
    display: block;
    height:100px;
    width: 100%;
}

nav {
    display: block;
    width: 100%;
    height: 50px;
    background-color: red;
}

ul {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

li {
    display: block;
    height: 100%;
    width:25%;
    float: left;
    background-color: #222;
    color: #fff;
    line-height: 50px;
    text-align: center;
}

li:hover {
    background-color: #09c;
    color: #222;
}
.img {
    height : 200px;
}
.thickborder {
    border: 4px solid #222;
    box-sizing:border-box;
    height : 200px;
}
h1 {
    font-family: arial;
    font-size: 30px;
    color: #222;     
}
blockquote {
     border-left: 4px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #477;
     max-width: 150px;
}
p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}
.poster {
    border: 2px solid #222;
    float:left;
    margin: 5px;
}
table, th, td {
    border: 1px solid black;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
th {
    text-align: left;
}
table {
    border-spacing: 5px;
}
.form {
    width: 40%;
    padding: 2%;
}

label{
    width:100%;
    margin:1%;
}

input {
    display:block;
    width: 45%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
}

textarea {

    width: 100%;
    padding: 3px;
    margin:1%;
    border: 1px solid #222;
    font-size: 20px;
    font-family: Courier New, Courier, monospace;
}

@media screen and (max-width:500px)
{
    div {
        width: 100%;
        padding: 2%;
    }

    label{
        width:100%;
        margin:1%;
    }

    input {
        display:block;
        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
    }

    textarea {

        width: 90%;
        padding: 3px;
        margin:1%;
        border: 1px solid #222;
        font-size: 20px;
        font-family: Courier New, Courier, monospace;
        height:100px;
    }
}
